*{
    padding: 0px;
    margin: 0px;
}
h1 {
    margin: 50px 100px;
    font-family: Helvetica ;
    font-weight:500;
}

#choose-lang {
    padding: 3px;
    border: 2px solid black;
    border-radius: 6px;
    width: 230px;
    font-size: 20px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#val {


    /* width: 300px; */
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    /* padding: 10px; */
    font-style: initial;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#dis{
    position: absolute;
    width: 900px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dis1{
    position: absolute;
    width: 900px;
    top: 29%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dis2{
    
    position: absolute;
    width: 900px;
    top: 39%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dis3{
    position: absolute;
    text-align: center;
    top: 43%;
    left: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
#dis4{
    position: absolute;
    width: 900px;
    top: 65%;
    left: 73%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#dis6{
    position: absolute;
    text-align: center;
    top: 105%;
    left: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    font-size: 25px;
    margin-bottom: 40px;
    
}



#hide{
    position: absolute;
    font-size:20px ;
    padding:8px ;
    margin-right:6px ;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hide1{
    position: absolute;
    font-size:20px ;
    padding:8px ;
    margin-right:6px ;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hide2{
    position: absolute;
    font-size:20px ;
    padding:8px ;
    margin-right:6px ;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}
