h1 {
    margin: 250px 308px;
    font-family: Helvetica ;
    font-weight:500;
}

#choose-lang {
    padding: 3px;
    border: 2px solid black;
    border-radius: 6px;
    width: 230px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#val {


    /* width: 300px; */
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    /* padding: 10px; */
    font-style: initial;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#dis{
    position: absolute;
    width: 900px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dis1{
    position: absolute;
    width: 900px;
    top: 66%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}